# Python cache
*__pycache__/*
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# log info
*.log

# VS Code settings
.vscode/
__pycache__/dobot_api.cpython-312.pyc
